.idea
.run
storage
temp
matrix
androidFeature
.kotlin
generated_Maps
facedetect_output
null
.gradle
Output
exes
textures
projects
.junie
heightmaps
build
.git
**/build
**/out
*.exe
*.jpg
*.png
*.zip
*.pem
node_modules
bin
**/bin
.vscode
*credentials.json
res
resources
lib